._*
*~

[568a].out
core

_cgo_*
_obj
_test
_testmain.go
test.out
_?vendor
Godeps/_vendor
Godeps/_workspace
**/*.coverprofile

__pycache__/

*.o
*.a
*.ko
*.obj
*.elf
*.dylib
*.[as]o
*.[568ao]
*.bundle
*.un~
*.rbc
*.py[cod]
*.exe
*.gem
*.log
*.rej
*.orig
*.class
*.sqlite
*.tmproj*
*.sw[a-z]
*.cgo*.go
*.cgo*.c
.*.sw[a-z]
.nfs.*
*.egg-info/
*.egg
.installed.cfg
*.mo

.git
.svn
.cvs

.Python
pip-log.txt
pip-*-directory.txt

.bundle
.config
Gemfile.lock

.gems
.rbenv
.ruby-version
.ruby-gemset
.rbenv-gemsets

.directory

.DS_Store
.DS_Store?
.AppleDouble
.Spotlight*
.Trash*

.vagrant

.direnv
.envrc

.vscode

Icon?

tmp
temp
coverage

*.box
packer*.log
virtualfloppy.vfd
packer_cache

*.tfvars
*.tfstate
*.tfstate.backup
*.tfstate.*.backup
.terraform
